*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:burlywood;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
     width: 54%;
    background-color: lawngreen;
    padding: 5% 4%;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.heading{
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}

.result{
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}

.input-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.input-box input{
    width: 30%;
    height: 30px;
    border: 2px solid rgb(196, 195, 195);
    outline: none;
    margin-top: 8px;
    padding: 0 10px;
}

.input-box select{
    width: 24%; 
    height: 30px;
    border: 2px solid rgb(196, 195, 195);
    outline: none;
    margin-top: 8px;
    padding: 0 10px;
    font-size: 14px;
}

.convert{
    padding: 3px 10px;
    margin: 7px 3px;
    font-size: 15px;
    /* border: 2px solid black; */
    background: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.output-data{
    font-size: 20px;
}

.output-data input{
    width: 25%;
    height: 30px;
    border: 2px solid rgb(196, 195, 195);
    outline: none;
    margin-top: 8px;
    padding: 0 10px;
    margin-right: 68px;
    margin-bottom: 10px; 
}

 .reset{
    margin-top: 20px;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    background: none;
    color: black;
} 
